apiVersion: apps/v1
kind: Deployment # manages pods, keeps desired replica count, does rolling updates
metadata:
  name: kafka
  namespace: demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kafka
  template:
    metadata:
      labels:
        app: kafka # the label that will be added to the created pods
    spec:
      enableServiceLinks: false
      initContainers: # containers that must finish successfully before main containers (in here, kafka) start
        - name: wait-for-zookeeper
          image: busybox:1.36 # lightweight image for simple shell that before the kafka container will be up, first check if zookeeper is running
          command:
            - sh # Run a shell
            - -c # execute the following string as a command/script
            - | # yaml multiline string (keeps line breaks)
              echo "Waiting for Zookeeper at zookeeper:2181..."
              until nc -z zookeeper 2181; do # Retry until TCP connect to ZK succeeds
                sleep 2
              done
              echo "Zookeeper is up, waiting additional 5s..."
              sleep 5
              echo "Starting Kafka"
      securityContext: # pod-level security settings
        fsGroup: 1000 # adds the process of the container as a member of group 1000 (default group in linux) and ensures mounted volumes are writable by group 1000
      containers:
        - name: kafka
          image: confluentinc/cp-kafka:7.6.1
          ports:
            - containerPort: 29092 # Kafka broker port inside the container

          envFrom: # load ALL env vars from a configmap
            - configMapRef:
                name: kafka-env

          volumeMounts:
            - name: kafka-data
              mountPath: /var/lib/kafka/data # where all the kafka data (messages, topics (each topic is a folder), partition etc)

          ## there are 3 checks thats k8s does to the pod##

          startupProbe: #k8s checks if is it possible to open a tcp connection to port 29092?
            tcpSocket:
              port: 29092
            initialDelaySeconds: 10
            periodSeconds: 5
            failureThreshold: 30

          livenessProbe: # after the startupProbe succeeded, k8s checks if the pod still alive
            tcpSocket:
              port: 29092
            initialDelaySeconds: 30
            periodSeconds: 10
            failureThreshold: 3

          readinessProbe: # k8s checks is the container ready to receive traffic
            tcpSocket:
              port: 29092
            initialDelaySeconds: 10
            periodSeconds: 5
            failureThreshold: 3

          resources:
            requests:
              cpu: '500m'
              memory: '1.5Gi'
            limits:
              cpu: '2'
              memory: '2Gi'
      volumes:
        - name: kafka-data
          emptyDir: {} # i chose this because its a demo and dev env, and i dont care if the data will be lost if the pod deleted
