# apiVersion: apps/v1
# kind: Deployment # keeps pod running and replaces it if it crashes
# metadata:
#   name: server
#   namespace: demo
# spec:
#   replicas: 1
#   selector:
#     matchLabels:
#       app: server
#   template:
#     metadata:
#       labels:
#         app: server
#     spec:
#       initContainers:
#         - name: wait-for-kafka
#           image: busybox:1.36
#           command:
#             - sh
#             - -c
#             - |
#               echo "Waiting for Kafka at kafka:29092..."
#               until nc -z kafka 29092; do # Retry until TCP connect succeeds
#                 sleep 2
#               done
#               echo "Kafka is up, starting server"
#       containers:
#         - name: server
#           image: demo-server:1
#           imagePullPolicy: IfNotPresent # don't pull if already present on the node
#           ports:
#             - containerPort: 8080
#           env:
#             - name: PORT
#               value: '8080'
#             - name: KAFKA_BROKER
#               value: 'kafka:29092'
#             - name: KAFKA_TOPIC
#               value: 'button-events'

apiVersion: apps/v1
kind: Deployment # keeps pod running and replaces it if it crashes
metadata:
  name: server
  namespace: demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: server
  template:
    metadata:
      labels:
        app: server
    spec:
      containers:
        - name: server
          image: demo-server:1
          imagePullPolicy: IfNotPresent # don't pull if already present on the node
          ports:
            - containerPort: 8080
          env:
            - name: PORT
              value: '8080'
            - name: SQS_QUEUE_URL
              value: ''
            - name: AWS_REGION
              value: 'us-east-1'
