apiVersion: apps/v1
kind: Deployment # keeps pod running and replaces it if it crashes
metadata:
  name: server
  namespace: demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: server
  template:
    metadata:
      labels:
        app: server
    spec:
      containers:
        - name: server
          image: demo-server:1
          imagePullPolicy: IfNotPresent # don't pull if already present on the node
          ports:
            - containerPort: 8080
          env:
            - name: PORT
              value: '8080'
            - name: SQS_QUEUE_URL
              value: ''
            - name: AWS_REGION
              value: 'us-east-1'
