apiVersion: v1
kind: Service
metadata:
  name: client
  namespace: demo
spec:
  selector:
    app: client
  type: NodePort
  ports:
    - name: http
      port: 80
      targetPort: 80
      nodePort: 30073
