apiVersion: apps/v1
kind: Deployment
metadata:
  name: server
  namespace: demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: server
  template:
    metadata:
      labels:
        app: server
    spec:
      containers:
        - name: server
          image: demo-server:1.0
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          env:
            - name: PORT
              value: '8080'
            - name: KAFKA_BROKER
              value: 'kafka:29092'
            - name: KAFKA_TOPIC
              value: 'button-events'
