apiVersion: v1
kind: Service
metadata:
  name: server
  namespace: demo
spec:
  selector:
    app: server
  type: NodePort
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      nodePort: 30080
