apiVersion: apps/v1
kind: Deployment
metadata:
  name: consumer
  namespace: demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: consumer
  template:
    metadata:
      labels:
        app: consumer
    spec:
      containers:
        - name: consumer
          image: demo-consumer:1.0
          imagePullPolicy: IfNotPresent
          env:
            - name: KAFKA_BROKER
              value: 'kafka:29092'
            - name: KAFKA_TOPIC
              value: 'button-events'
            - name: KAFKA_GROUP_ID
              value: 'demo-consumer-group'
